* {
    box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: "acumin-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	max-width: 900px;
	background: #FFC239;
	color:rgba(0,0,0,0.8);
	text-align: center;
	font-variant-numeric: tabular-nums;
	-moz-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
}

a {
	color:#ccc;
	color: rgba(0,0,0,0.8);
}

a:hover {
	color: rgba(0,0,0,1);
}

p {
	line-height: 1.6;
	margin: 0;
	padding: 0;
	font-size:1.2rem;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-family: "acumin-pro-wide";
	line-height: 1.2;
	font-weight: 900;
	font-style: normal;
	margin:0 0 1.2rem 0;
}

h2 {
	font-size: 1.3rem;
	font-family: "acumin-pro-wide";
	margin:0;
	padding: 0;
	font-weight: 700;
	font-style: normal;
}

h2:after {
	content: "";
	border-bottom: 3px solid rgba(95,80,47,0.5);
	width: 20%;
	display: block;
    text-align: left;
    margin: 0.8rem 0;
}

main {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	height: 100vh;
}

section {
	padding: 20px 0;
}

.container {
	width: 100%;
}


.columns {
	display: flex;
	justify-content:space-between;
	width: 100%;
	text-align: left;
	flex-direction: row;
}


.column a {
	color:#cccccc;
	width: 100%;
	padding: 20px 60px;
	display: block;
	cursor: pointer;
	margin-top: 3%;
	border: none;
	font-size: 1.2rem;
	text-align: left;
	background: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
	font-family: "acumin-pro-wide";
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	transition: background 0.2s, color 0.2s;
}

.column a:hover {
	background: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}

.column a.disable {
	background: rgba(0,0,0,0.3);
	color:#cccccc;
	color: rgba(255,255,255,0.3);
	cursor: default;
}

.column {
	width:49%;
}

.card {
	border:7px solid rgba(0,0,0,0.8);
	padding: 40px 60px;
}

footer {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

footer p {
	font-size:1.1rem;

}

@media screen and (max-width: 600px) {

	main {
		height: auto;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
	}

	footer p {
		font-size: 0.9rem;
	}
	.columns {
		flex-direction: column;
		align-items: center;
	}

	.column {
		width:96%;
		margin-bottom: 20px;
	}

	.card {
		padding: 20px 40px;
	}

	.column a {
		margin-top: 0;
		padding: 20px 40px;
		font-size: 1rem;
	}

	footer {
		position: relative;
	}
}